.loginHead{
    background-color: #400000;       
  }
  
  .loginHead strong {
    color: white;
    font-size: 2rem;
  }
  
  #loginButton {
    background-color: #3F5F73;
  }
  
  #email {
    width: 100%;
    
  }
  
  #password {
    width: 100%;
  }
  #loginButton {
    width: auto;
  }
  #signupLink {
    width: auto;
  }
  .loginPage{
    background-color: #D3C0C8;
  }